
@{
    Layout = null;
    ViewBag.Title = "AddTeam";
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Team</title>
    <link rel="shortcut icon" href="~/Content/ball.ico" type="image/x-icon">
    <style type="text/css">
        table {
            width: 500px;
            border-collapse: collapse;
            margin: auto;
            border: 1px solid black;
        }

        td, th {
            padding: 3px;
            border: 1px solid black;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h3>You can @Html.ActionLink("create new team", "CreateTeam", new { tmtId = ViewBag.Tournament.Id, grpId = ViewBag.GrpId }) or add team from the list below: </h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var t in ViewBag.AvailableTeams)
                {
                    <tr>
                        <td>@t.TName</td>
                        <td>@t.City</td>
                        <td>@t.Country</td>
                        <td>
                            @Html.ActionLink("Add team to group", "AddTeam", new { Team = t, tmtId = ViewBag.Tournament.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</body>
</html>

