@model  TournamentCreator.Models.Team
@{
    ViewBag.Title = "CreateTeam";
}

<div>
    <h3>Create team</h3>
    <br />
    <br />
    @using (Html.BeginForm("CreateTeam", "Home", new { trnmtId = ViewBag.TmtId }))
    {
        <fieldset>
            @Html.HiddenFor(t => t.Id)
            <p>
                @Html.LabelFor(t => t.TName, "Name")
                <br />
                @Html.EditorFor(t => t.TName)
                <br />
                @Html.ValidationMessageFor(t => t.TName)
            </p>
            <p>
                @Html.LabelFor(t => t.Country, "Country")
                <br />
                @Html.EditorFor(t => t.Country)
                <br />
                @Html.ValidationMessageFor(t => t.Country)
            </p>
            <p>
                @Html.LabelFor(t => t.City, "City")
                <br />
                @Html.EditorFor(t => t.City)
                <br />
                @Html.ValidationMessageFor(t => t.City)
            </p>
            <p>
                @Html.LabelFor(t => t.Stadium, "Stadium")
                <br />
                @Html.EditorFor(t => t.Stadium)
                <br />
                @Html.ValidationMessageFor(t => t.Stadium)
            </p>
            <p><input type="submit" value="Submit" /></p>
        </fieldset>
    }
</div>

