@model  TournamentCreator.Models.Team

@{
    ViewBag.Title = "EditTeam";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit team </title>
    <link rel="shortcut icon" href="~/Content/ball.ico" type="image/x-icon">
    <style type="text/css">
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h3>Edit team</h3>
        <br />
        <br />
        @using (Html.BeginForm("EditTeam", "Home", new { needTeamId = ViewBag.TeamToEdit.Id, tournamentId = ViewBag.TournamentId }))
        {
            <fieldset>
                @Html.HiddenFor(t => t.Id)
                <p>
                    @Html.LabelFor(t => t.TName, "Name")
                    <br />
                    @Html.EditorFor(t => t.TName)
                    @Html.ValidationMessageFor(t => t.TName)
                </p>
                <p>
                    @Html.LabelFor(t => t.Country, "Country")
                    <br />
                    @Html.EditorFor(t => t.Country)
                    @Html.ValidationMessageFor(t => t.Country)

                </p>
                <p>
                    @Html.LabelFor(t => t.City, "City")
                    <br />
                    @Html.EditorFor(t => t.City)
                    @Html.ValidationMessageFor(t => t.City)
                </p>
                <p>
                    @Html.LabelFor(t => t.Stadium, "Stadium")
                    <br />
                    @Html.EditorFor(t => t.Stadium)
                    @Html.ValidationMessageFor(t => t.Stadium)
                </p>
                <p><input type="submit" value="Submit" /></p>
            </fieldset>
        }
    </div>
</body>
</html>

