@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tournament creator</title>
    <link rel="shortcut icon" href="~/Content/ball.ico" type="image/x-icon">
    <style type="text/css">
        table {
            width: 500px;
            border-collapse: collapse;
            margin: auto;
            border: 1px solid black;
        }

        td, th {
            padding: 3px;
            border: 1px solid black;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h3>All tournaments</h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var t in ViewBag.Tournaments)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.TmtName</td>
                        @if (t.IsStarted)
                        {
                            <td>
                                @Html.ActionLink("Resume", "ResumeTmt", new { tmtId = t.Id })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Settings", "TmtSettings", new { tmtId = t.Id })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Add tournament", "AddTournament")
        <br />
    </div>

</body>
</html>